<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form action=<%='/'%> method="post" >
    <h1>Enter your phrase:</h>
    <input type="text" name="user[user_phrase]">


    <input type="submit">
    </form>
  
  </body>
</html>